label {
    color: #000;
}

form.new_pessoa{
    margin-left: 6vw;
}

form.login{
    margin-left: 3vw;
}
body {
    color: #000;
}



.pb_half {
    width: 100%;
    float: none;
}

.invisible {
    display: none;
}

.all {
    margin-left: 2vw;
}



.p-t-10 {
    padding-top: 4.5vh;
}

.invalido {
    color: #dc3545;
    font-size: 80%;
}

.valido {
    color: #28a745;
    font-size: 80%;
}

.dataTables_length,
#myTable_info {
    margin-left: 2%;
}

#myTable_filter {
    margin-right: 2%;
}

#nome_cargo,
#numero_mesa,
#nome_categoria {
    width: 30vw;
}

.form-row.cadastro {
    width: 55vw;
    
}

div.prod {
    margin-left: 9.5vw;    
   
}

.nav-link {
    white-space: nowrap;
}

div#restdados {
    width: 100%;
}

.imgeRest {
    width: 18rem;
}

#imgprod {
    width: 10vw;
}

.cardtext{    
    display: inline;
}
#upprod{
    width: 20vw;
}
.light{
    color: rgba(255, 255, 255, 0.8);
    list-style: none;
}
.dark{
    color: #000;
}