label{
    color: #000;
}
form{
    margin-left: 2vw;
}
body{
    color: #000;
}
.pb_half{
    width: 100%;
    float: none;
}

.invisible {
    display: none;
}
.all{
    margin-left: 2vw;
}
.card{
    width: 18rem;
}
.p-t-10{
    padding-top: 4.5vh;
}

.invalido{
    color:#dc3545;
    font-size: 80%;
}

.valido{
    color:#28a745;
    font-size: 80%;
}

.dataTables_length, #myTable_info{
    margin-left: 2%;
}
#myTable_filter{
    margin-right: 2%;
}
#nome_cargo, #numero_mesa, #nome_categoria{
    width: 30vw;
}
.navbar-nav{
    padding-left: 10vw;
}
.row.cadastro{
    width: 80vw;;
}
